@using Incoding.MvcContrib
@using Template.UI.Models
@using (var template = Html.Incoding().Template<ComplexVm>())
{
    using (var each = template.ForEach())
    {
        <div>                
            <ul style="@each.IsInline(r => r.IsRed, "color:red;")">
                @using (var countryEach = each.ForEach(r => r.Country))
                {
                    <li>
                        @using (each.Up().Is(r => r.IsRed))
                        {
                            <span>Country @countryEach.For(r => r.Title) from red group @each.Up().For(r => r.Group)</span>
                        }
                        @using (each.Up().Not(r => r.IsRed))
                        {
                            <span>Country @countryEach.For(r => r.Title) by group @each.Up().For(r => r.Group)</span>
                        }
                        <dl>
                            @using (var cityEach = countryEach.ForEach(r => r.Cities))
                            {
                                <dd>
                                    City: @cityEach.For(r => r.Name)
                                </dd>
                            }
                        </dl>
                    </li>
                }              
            </ul>
        </div>
    }
}